html, body {
    width: 100%;
    height: 100%;
    background: url("../img/fon.png") no-repeat;
    background-size: cover;
}

.header-menu-heading{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: border-bottom-color 0.7s;
}
.header-menu-heading:hover,
.header-menu p a:hover,
.main-content_login:hover,
form label a:hover{
    border-bottom-color: #01813F;
    color: #01813F;
}

.header-menu p,
.header-menu p a{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.header-menu p a{
    border: 1px solid transparent;
    transition: border-bottom-color 0.7s;
}
.header-menu{
    padding: 17px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-menu-img{
    display: flex;
    justify-content: space-between;
}
.header-menu-img-1{
    margin-right: 24px;
}
.header-menu-img-2{
    margin-right: 20px;
}
.header-menu-img-3{
    margin-right: 20px;
}
.header-menu-img p{
    align-self: center;
}
.header-menu-img p:before{
    content: " ";
    border: 1px solid #FFFFFF;
    height: 19px;
    opacity: 50%;
    margin-left: 0;
    margin-right: 27px;
}

.header-menu-img-green:hover{
    fill: #01813F;
    cursor: pointer;
}

.main-content{
    width: 444px;
    padding: 35px 60px 40px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    position: relative;
    left: calc(50% - 444px/2);
    top: calc(50% - 60px - 587px/2);
}

.main-content_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px 4px;
    margin-bottom: 30px;
}
.main-content_sign-up{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    display: inline-block;
    position: relative;
}
.main-content_sign-up::before{
    content: "";
    border: 9px solid #3CB878;
    position: absolute;
    left: -60px;
}

.main-content_login{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    display: inline-block;
    align-self: end;
    justify-self: end;
    border: 1px solid transparent;
    transition: border-bottom-color 0.7s;
}

.btn_facebook,
.btn_google {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    padding: 11px 20px 17px 11px;
}
.btn:hover{
    cursor: pointer;
}
.btn_facebook{
    background: #305DB8;
    border: 1px solid #305DB8;
    border-radius: 2px;
}

.btn_google{
    background: #DF4A32;
    border: 1px solid #DF4A32;
    border-radius: 2px;
}

.main-content_choice{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
    margin-bottom: 12px;
    position: relative;
}
.main-content_choice::before{
    left: 0;
}
.main-content_choice:after,
.main-content_choice::before{
    content: " ";
    border: 1px solid #F2F2F2;
    width: 152px;
    position: absolute;
    right: 0;
    top: 7px;
}
.input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding: 15px 15px 15px 19px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 14px;
    color: #434343;
    outline: none;
}

.input:focus{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.input_name::placeholder,
.input_surname::placeholder,
.input_password::placeholder,
.input_confirm-password::placeholder{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
form label,
form label a{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
form label a{
    border: 1px solid transparent;
    transition: border-bottom-color 0.7s;
}

.input-checkbox{
    opacity: 0;

}

.input-checkbox + label {
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 28px;
    background-size: 20px;
}
.input-checkbox:checked + label{
    background-image: url("../img/check.png"), url("../img/checkbox_empty.png");
}
.input-checkbox:not(checked) + label{
    background-image: url("../img/checkbox_empty.png");
    background-size: contain;
}


.input-create-account{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 16px 99px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 0;
}
.input-create-account:hover{
    cursor: pointer;
}